[submodule "opencbdc-tx"]
	path = opencbdc-tx
	url = https://github.com/BlackLight54/proj-lab_opencbdc-tx.git
[submodule "aries-cloudagent"]
	path = aries-cloudagent
	url = https://github.com/BlackLight54/bsc-thesis-aries-cloudagent-python.git
